In [7]:
!pip install beautifulsoup4
!pip install lxml
!pip install html5lib

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (1.9.5)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.13.0)

In [8]:
import urllib.request
from urllib.request import urlopen
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests

In [9]:
#url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#html = urllib.request.urlopen(url).read()
#print(html)
#Postcode = []
#Borough = []
#Neighbourhood = []


#soup = BeautifulSoup(html, 'html5lib') #lxml html5lib
#table = soup.find_all('table',class_="wikitable")
#print(table.text)
#rows = table.find_all('tr')
#print(rows)
#tabledata = []
#for row in rows:
 #   for r in row:
  #      if len(r) == 13:
    #        Postcode.append(r)#row.findAll('td'))
   #         print(row.text)
#print(Postcode)
    #Postcode.append(str(row.findAll('td')[0]))
    #Borough.append(str(row.findAll('td')[1]))
    #Neighbourhood.append(str(row.findAll('td')[2]))
#columns = {'Postcode':Postcode, 'Borough':Borough, 'Neighbourhood':Neighbourhood}

#document.querySelector("#mw-content-text > div > table.wikitable.sortable.jquery-tablesorter")

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urllib.request.urlopen(url).read()
#print(html)
Postcode = []
Borough = []
Neighbourhood = []


soup = BeautifulSoup(html, 'html5lib') #lxml html5lib
table = soup.find('table',class_="wikitable") # sortable jquery-tablesorter
#print(table)
test = table.tbody #tr.th.
tdata = test.td
#print(td)
#for rows in test.find_all('td'):
    #for item.text in rows:
        #print(item)
    #print(rows)
#rows = table.find("td").text
#for tr in table.tbody
#print(rows)
#print(test)

In [10]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urllib.request.urlopen(url).read()
#print(html)
postcode = []
borough = []
neighbourhood = []

soup = BeautifulSoup(html, 'html5lib') #lxml html5lib
table = soup.find('table',class_="wikitable") # sortable jquery-tablesorter
#print(table)
test = table.tbody #tr.th.
a=0
b=1
c=2
for rows in enumerate(test.find_all('td')):
    #print(rows)
    if rows[0] == a:
        a = a+3
        postcode.append(rows[1].text)
    elif rows[0] == b:
        b = b+3
        borough.append(rows[1].text)
    elif rows[0] == c:
        c = c+3
        neighbourhood.append(rows[1].text[:-1])
#print(postcode)    
#print(borough)
#print(neighbourhood)

In [11]:
wikipage_dict = {'Postcode':postcode, 'Borough':borough, 'Neighbourhood':neighbourhood}
wikipage_df = pd.DataFrame(wikipage_dict)
wikipage_df.set_index('Postcode', inplace=True)
wikipage_df
#print(postcode)    
#print(borough)
#print(neighbourhood)

                   Borough          Neighbourhood
Postcode
M1A           Not assigned           Not assigned
M2A           Not assigned           Not assigned
M3A             North York              Parkwoods
M4A             North York       Victoria Village
M5A       Downtown Toronto           Harbourfront
...                    ...                    ...
M8Z              Etobicoke              Mimico NW
M8Z              Etobicoke     The Queensway West
M8Z              Etobicoke  Royal York South West
M8Z              Etobicoke         South of Bloor
M9Z           Not assigned           Not assigned

[287 rows x 2 columns]

In [12]:
wikipage_df['Borough'].value_counts()

Not assigned        77
Etobicoke           44
North York          38
Downtown Toronto    37
Scarborough         37
Central Toronto     17
West Toronto        13
York                 9
East Toronto         7
East York            6
Mississauga          1
Queen's Park         1
Name: Borough, dtype: int64

In [13]:
wiki_notassigned = wikipage_df[wikipage_df.Borough != 'Not assigned']
wiki_notassigned

                   Borough             Neighbourhood
Postcode
M3A             North York                 Parkwoods
M4A             North York          Victoria Village
M5A       Downtown Toronto              Harbourfront
M6A             North York          Lawrence Heights
M6A             North York            Lawrence Manor
...                    ...                       ...
M8Z              Etobicoke  Kingsway Park South West
M8Z              Etobicoke                 Mimico NW
M8Z              Etobicoke        The Queensway West
M8Z              Etobicoke     Royal York South West
M8Z              Etobicoke            South of Bloor

[210 rows x 2 columns]

In [14]:
wiki_notassigned = wiki_notassigned.reset_index()
#wiki_grouped = wiki_notassigned.groupby(['Postcode','Borough'])
wiki_grouped = wiki_notassigned.groupby('Postcode', as_index=False).agg({'Neighbourhood' : ', '.join, 'Borough' : 'first'})
wiki_grouped

    Postcode                                      Neighbourhood      Borough
0        M1B                                     Rouge, Malvern  Scarborough
1        M1C             Highland Creek, Rouge Hill, Port Union  Scarborough
2        M1E                  Guildwood, Morningside, West Hill  Scarborough
3        M1G                                             Woburn  Scarborough
4        M1H                                          Cedarbrae  Scarborough
..       ...                                                ...          ...
98       M9N                                             Weston         York
99       M9P                                          Westmount    Etobicoke
100      M9R  Kingsview Village, Martin Grove Gardens, Richv...    Etobicoke
101      M9V  Albion Gardens, Beaumond Heights, Humbergate, ...    Etobicoke
102      M9W                                          Northwest    Etobicoke

[103 rows x 3 columns]

In [15]:
wiki_grouped = wiki_grouped[['Postcode','Borough','Neighbourhood']]
wiki_grouped

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [16]:
wiki_clean = wiki_grouped
for item in wiki_clean['Neighbourhood']:
    if item == 'Not assigned':
        item == wiki_clean['Borough']
wiki_clean

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [17]:
for (wiki_clean['Neighbourhood'].loc[wiki_clean['Neighbourhood'] == 'Not assigned']) in wiki_clean:
    (wiki_clean['Neighbourhood'].loc[wiki_clean['Neighbourhood'] == 'Not assigned']) == (wiki_clean['Borough'].loc[wiki_clean['Neighbourhood'] == 'Not assigned'])
#print(wiki_clean.loc[wiki_clean['Neighbourhood'] == (wiki_clean.loc[wiki_clean['Neighbourhood']])])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
print(wiki_clean.loc[wiki_clean['Neighbourhood'] == 'Not assigned'])

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [19]:
wiki_clean.shape

(103, 3)

In [20]:
wiki_clean

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [35]:
#import os
#print(os.getcwd())
df = pd.read_csv('Geospatial_Coordinates.csv')
df.sort_values('Postal Code', ascending=True)
df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [38]:
wiki_clean.sort_values('Postcode', ascending=True)
wiki_clean

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [51]:
Postcode = wiki_clean['Postcode']
Borough = wiki_clean['Borough']
Neighbourhood = wiki_clean['Neighbourhood']

In [52]:
Latitude = []
Longitude = []
for _ in df['Latitude']:
    Latitude.append(_)
for _ in df['Longitude']:
    Longitude.append(_)

In [53]:
wiki_join_dict = {'Postcode':Postcode, 'Borough':Borough, 'Neighbourhood':Neighbourhood, 'Latitude':Latitude,'Longitude':Longitude}
wiki_join = pd.DataFrame(wiki_join_dict)
wiki_join.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476